<header >
  <div class="container-fluid">
    <div class="row">
      <div class="img_wrap">

        <div class="col-sm-12 inside_img">
            <h1 class="explain">Ristorante con Fusion</h1>
            <p class="first_p">We take inspiration from the World's best cuisines, and create a unique fusion experience.</p>
            <p class="no_p">Our lipsmacking creations will tickle your culinary senses!</p>
        </div>

        <div class="img_darker">
          <img src="./images/dish_03.png" alt="dish-resp"   class="img-responsive" id="header_img"/>
        </div>

      </div>
    </div>
  </div>
</header>
